.navv{
	background: #788a7c !important;
}
.bannerimage{
	background-image: url(nav-image.jpg);
	height: 500px;
}
.bggcol{
	background: #788a7c !important;
}
.bggcol2{
	background: #788a7c !important;
}	
.bggcol3{
	background-color: #788a7c !important ;
}	
.fform{
	width: 35%;
}
.mmessage{
	height: 20% !important;
}